* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
}
.emoji {
  max-width: 7.333vw;
  max-height: 7.333vw;
}
.emoji img {
  width: 5.333vw;
  height: 5.333vw;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 65%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 60vh;
  /* padding: 6.667vw; */
  width: 65%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1.333vw;
  gap: 4vw;
  color: green;
  box-shadow: 0 0.8vw 1.333vw rgba(0, 0, 0, 0.3);
  /* padding-top: 2.667vw;
  padding-bottom: 5.333vw; */
}
.heading {
  font-size: 3.667vw;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.267vw;
  /* margin-top: 2.667vw; */
  text-align: center;
}
#btn {
  font-size: 1.4vw;
  font-weight: 700;
  border-radius: 0.667vw;
  cursor: pointer;
  padding: 1.333vw;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  width: 25vw;
  color: darkgreen;
  text-align: center;
}
#main_joke {
  max-width: 60%;
  height: 50%;
  font-size: 2vw;
  text-align: center;
  margin: 1.667vw;
  margin-top: 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
  /* padding: 1.333vw; */
}
#con:hover {
  max-width: 10vw;
  max-height: 10vw;
  background-color: rgba(0, 128, 0, 0.3);
  border-radius: 1.333vw;
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;

  color: aliceblue;
  padding: 1.333vw;
}
.butn {
  margin-bottom: 2.667vw;
}
